@import "tailwindcss";

@theme {
    --font-display: "Space Grotesk", sans-serif;
    --font-body: "Inter", sans-serif;

    --shadow-neo: 5px 5px 0px 0px rgba(0, 0, 0, 1);
    --shadow-neo-sm: 3px 3px 0px 0px rgba(0, 0, 0, 1);
}

@layer base {
    body {
        font-family: var(--font-display);
        -webkit-font-smoothing: antialiased;

        color: var(--vt-c-text-light-1);
        background: var(--color-background);
    }

    p {
        font-family: var(--font-body);
    }
}
